body{
    background-color: black;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  h2{
    text-align: center;
    color: #FBCB1E;
  }
  th, td {
    border: 1px solid  #FBCB1E ;
    padding: 8px;
    color: #FBCB1E;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: black;
  }